/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 0 0 0 20px;
}

#whole {
  display: flex;
}

h1 {
  color: #333;
}

form {
  flex: 3;
  background: white;
  margin: 0 10px 10px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#id_language, #id_theme{
  flex: 1;
}

.code_output {
  background: white;
  flex: 2;
  margin: 0px 20px 10px 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

pre {
  color: #242424;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 14px;
}

.form_input {
  margin-bottom: 15px;
}

label {
  font-size: 22px;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

#id_input {
  height: 300px;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#btn_submit{
  background-color: #0067D3;
}

#btn_reset{
  background-color: #d30000dc;
}

/* 
.code-input textarea {
  flex: 1;

  width: 50%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  box-sizing: border-box;
}

.code-input button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.compiled-output pre {
  width: 40%;
  height: 300px;
  white-space: pre-wrap;
  font-size: 16px;
} */
